<div class="row">
  <div class="col-sm-6 col-md-4 offset-md-4 offset-sm-3">
    <div id="success" class="alert alert-success" {{# if noMessages}} hidden {{/if}}>
      {{ successMsg }}
    </div>
  </div>
</div>

{{# each products }}
<div class="row" style="margin-top: 20px;margin-bottom: 20px">
          {{# each this }}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src={{ this.imagePath }} alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{this.title}}</a>
                </h4>
                <h5>${{this.price}}</h5>
                <p class="card-text">{{this.description}}</p>
                 <div class="card-text text-right">
                <a href="/add-to-cart/{{this._id}}" class="btn btn-primary" role="button">Add Cart</a>

               </div>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>


         {{/each}}   
 </div>
        <!-- /.row -->
 {{/each}}          
       

      